<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="./img/a6d51ed3-36cd-49d5-a071-559c2f2c6292.jpeg">
        <link rel="stylesheet", href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Page not Found.</p>
        </div>
        {{>footer}}
    </body>
</html>